<h1>Welcome to Message Board</h1>

<p>I hope you enjoy exploring the message board.</p>

<h3>Questions</h3>
{{#each model as |question|}}
  {{#link-to 'question' question.id}}{{question-tile question=question}}{{/link-to}}
{{/each}}

<br>
{{add-question save1="save2"}}

{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
